/* {
    border: 1px solid #000;
}*/

body {
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto 600px auto;
}

#title {
    grid-column-start: 2;
    grid-row-start: 1;
}

#gameWindow {
    width: 800px;
    height: 600px;
    background-color: #3282ad;
    grid-column-start: 2;
    grid-row-start: 2;
    position: relative;
}

#inventoryBox {
    width: 180px;
    height: 80px;
    background-color: #000;
    top: 10px;
    left: 10px;
}


#dialogBox {
    bottom: 0px;
}

#setNameDialog {
    width: 800px;
    height: 64px;
    background-color: #5ba791;
}


#characterAvatar {
    width: 64px;
    height: 64px;
    background-color: #14da1b;
    bottom: 0px;
    left: 0px;
}

#characterSpeach {
    width: 300px;
    background-color: #ffffff;
}


#counterSpeach {
    width: 300px;
    background-color: #ffffff;
}

#counterAvatar {
    width: 64px;
    height: 64px;
    background-color: #cd1b1b;
    bottom: 0px;
    right: 0px;
}


#squareTest {
    width: 64px;
    height: 64px;
    background-color: rgb(53, 142, 226);
    left: 400px;
    top: 200px;
    opacity: 1;
}


#maincharacter {
    width: 32px;
    height: 32px;
    background-color: #1e14da;
}


/*#tileMap {}*/

/*background/character/forground*/
.background {
    position: absolute;
    z-index: 0;
}

.character {
    position: absolute;
    z-index: 100;
    transition: all 1s ease-in-out;
}

.forground {
    position: absolute;
    z-index: 1000;
}